@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;

  /* Updated stack: Frank Ruhl Libre first, then similar Google/System serifs */
  font-family: "Frank Ruhl Libre", "Playfair Display", "Times New Roman", Times, serif;
  font-weight: bold;
  margin: 2em 0px 0.5em;
}

body {
  color: rgb(234, 234, 234);

  /* Fira Sans first, followed by modern Google/System alternates */
  font-family: "Fira Sans", "Inter", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}
