   body { 
   	width:100% !important;
   	margin:0 !important;
   	padding:0 !important;
   	line-height: 1.45; 
   	font-family: Garamond,"Times New Roman", serif; 
   	color: #000; 
   	background: none; 
   	font-size: 14pt; 
   }

   /* Headings */
   h1 {
   	page-break-after:avoid;
   	font-size:48pt;
   }

   p {
   	orphans: 3;
   	widows: 3;
   }

   .description {
      font-size:24pt;
      margin: 1em 1.5em 1.5em 1em;
   }

   /* Images */
   img {
   	float: left;
   	padding: 40px 20px 20px 50px;
   	margin: 1em 1.5em 1.5em 0;
   	max-width: 100% !important;
      border-radius: 100%;
   }

   /* Lists */
   ul, ol {
   	list-style: square;
   	margin-left: 2cm;
   	margin-bottom: 3cm;    
   }

   li {
   	line-height: 2em;
   } 

   /* Links */
   a:link, a:visited {
   	background: transparent;
   	font-weight: 700;
   	text-decoration: none;
   	color:#333;
   }
   a:link:after, a:visited:after {
   	content:" { " attr(href) " } ";
   	text-decoration: none;
   	font-weight: 400
   }
   a:link:before {
      display:none;
   }
   /* Don't show linked images  */

   /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */

   /* Images */
   img {
   	page-break-inside: avoid;
   } 

   /* Hide unnecessary parts*/
   #footer .copyright, .do-not-print {
   	display:none;
   }
